<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Search Page</h1>

    <div class="search-form">
        <form>
            <input type="text" autocomplete="off" list="auto" class="search-input" id="search-input" placeholder="Enter your search term">
            <datalist id="auto">
            </datalist>
            <button id="submit-button" class="search-button">Search</button>
        </form>
    </div>

    <div id="search-results-div"></div>
    <script src="index.js"></script>
</body>
</html>